<div>
  <div>
    <h1>
      <%= @the_directory.name %>
    </h1>
  </div>
</div>

<hr>
  <div>
    Owner: <%= @the_user.email %>
  </div>

  <div>
    Created on: <%= @the_directory.created_at %>
  </div>
<hr>


<div>
  <% if current_user != nil %>
    <% if (current_user.id == @the_user.id) %>
      <div>
        <h2>
          Search for a new site
        </h2>
          <form action="/insert_site_initial" method="get">
            <div>
              <label for="link_box">
                Link:
                <input type="text" id="link_box" name="query_link">
              </label>
            </div>

            <div>
              <input type="hidden" name="query_dir_id" value="<%= @the_directory.id %>">
            </div>

            <button>
              Add Site
            </button>
          </form>
    <% end %>
    <% else %>
        <p> You must be <a href="/users/sign_in">signed in</a> with the right account to edit this profile.</p>
  <% end %>
      </div>
</div>

<hr>

<div>
  <div>
    Joined on: <%= @the_user.created_at %>
  </div>
</div>

<hr>

<h2>
    Sites
</h2>

<div> 
  <% @sites_lst.each do |a_site| %>
    <%= a_site.name %><br>
  <% end %>

</div>
