<div>
  <div>
    <h1>
      <%= @the_directory.name %>
    </h1>
  </div>
</div>

<hr>
  <div>
    Owner: <%= @the_user.email %>
  </div>
<hr>
  <div>
    User joined on: <%= @the_user.created_at %>
  </div>

<hr>
  <div>
    Directory created on: <%= @the_directory.created_at %>
  </div>
<hr>

<% allow_delete = false %>
<div>
  <% if current_user != nil %>
    <% if (current_user.id == @the_user.id) %>
      <% allow_delete = true %>

      

      <div>
        <h2>
          Search for a new site
        </h2>
          <form action="/insert_site_initial" method="get">
            <div>
              <label for="link_box">
                Link:
                <input type="text" id="link_box" name="query_link">
              </label>
            </div>

            <div>
              <input type="hidden" name="query_dir_id" value="<%= @the_directory.id %>">
            </div>

            <button>
              Add Site
            </button>
          </form>
    <% end %>
    <% else %>
        <p> You must be <a href="/users/sign_in">signed in</a> with the right account to edit this profile.</p>
  <% end %>
      </div>
</div>

<hr>


<h2>
    Sites
</h2>

<div> 
  <% @sites_lst.each do |a_site| %>
    <span>
      <%= a_site.name %>: 
      <% if a_site.link.include? "https://"%>
        <a href="<%= a_site.link %>" target="_blank"><%= a_site.link %></a>
      <% else %>
        <a href="https://<%= a_site.link %>" target="_blank"><%= a_site.link %></a>
      <% end %>
      <% if allow_delete == true %>
        <form action="/delete_from_directory" method="post" style="display:inline;">
          <input type="hidden" name="query_link_id" value="<%= a_site.id %>">
          <input type="hidden" name="query_dir_id" value="<%= @the_directory.id %>">
          <button>Delete</button>
        </form>
      <% end %>
    </span>
    <br>
  <% end %>
</div>
